

h1 {

  color: Blue;
  font-weight: bold;
  text-align:center;
  font-family: serif;

}

.display {
  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      height; 70%;
}

* {

text-align: center;


}





 body {
   background-size:cover;
   background: url("Images/cow.jpg");
 }
