

h1 {

  color: Blue;
  font-weight: bold;
  text-align:center;
  font-family: "castellar";

}

.display {
  display: block;
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      height; 70%;
}

* {

text-align: center;


}

ul {
    text-align: center;
    list-style-position: inside;
}



head{
  background-color:white;

}




.jumbotron {

background-image:url("../Images/cow.jpg");
background-size:cover;
background-attachment: fixed;
Min-height: 600px;

}
